<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.mjpm"
    version   = "2.0.0">

<name>Catalogo patron</name>

<description>
app final patron con PhoneGap</description>

<author href="Manuel Patron" email="dogie15@gmail.com">
Academico
</author>
<icon src="images/logo.png" gap:density="hdpi" gap:platform="android" />
<gap:plugin name="org.apache.cordova.dialogs" />
<preference name="phonegap-version" value="3.3.0" />
</widget>
